<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>406091376659-gmjjudc01du79bvu32jkftbr6pplhkkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406091376659-gmjjudc01du79bvu32jkftbr6pplhkkm</string>
	<key>API_KEY</key>
	<string>AIzaSyBkrjdVecxENoO9fKlxuzUiCuX_821lndg</string>
	<key>GCM_SENDER_ID</key>
	<string>406091376659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cold.social</string>
	<key>PROJECT_ID</key>
	<string>social-3335d</string>
	<key>STORAGE_BUCKET</key>
	<string>social-3335d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:406091376659:ios:72ea71cdad8b95ad</string>
	<key>DATABASE_URL</key>
	<string>https://social-3335d.firebaseio.com</string>
</dict>
</plist>